.blog-section {
    padding: 2rem;
  }
  
  .post-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  @media (min-width: 768px) {
    .post-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .post-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .post-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .post-card:hover {
    transform: translateY(-5px);
  }
  
  .post-card__image {
    width: 100%;
    height: auto;
  }
  
  .post-content {
    padding: 1rem;
  }
  
  .post-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .post-content p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #616161;
  }
  
  /* Estilos para las etiquetas */
  .tags {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap; /* Para que las etiquetas ocupen varias líneas si es necesario */
  }
  
  .tag {
    background-color: var(--color-secondary); /* Color de fondo para las etiquetas */
    color: white; /* Color de texto */
    padding: 0.3rem 0.6rem; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-right: 0.5rem; /* Espaciado entre etiquetas */
    margin-bottom: 0.5rem; /* Margen inferior para que las etiquetas no se amontonen */
    font-size: 0.85rem;
    transition: background-color 0.3s ease; /* Transición suave en hover */
  }
  
  /* Efecto de hover en las etiquetas */
  .tag:hover {
    background-color: var(--color-accent); /* Cambia el fondo de la etiqueta en hover */
    cursor: pointer;
  }
  
  .post-card__link {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
    display: inline-block;
    margin-top: 1rem;
    transition: color 0.3s ease;
  }
  
  .post-card__link:hover {
    color: var(--color-accent);
  }
  