---
import "../styles/footer.css";
---
<footer class="footer">
  <p class="footer__text">&copy; 2024 Dalia Studio. All rights reserved.</p>
  <div class="footer__social-icons">
    <a href="https://www.instagram.com/daliastudio.ro" target="_blank" class="footer__social-link">
      <img src="/images/instagram.svg" alt="Instagram" class="footer__social-icon" />
    </a>
    <a href="https://www.facebook.com/daliastudio.ro" target="_blank" class="footer__social-link">
      <img src="/images/facebook.svg" alt="Facebook" class="footer__social-icon" />
    </a>
    <a href="https://www.tiktok.com/@daru_nailartist" target="_blank" class="footer__social-link">
      <img src="/images/tiktok.svg" alt="TikTok" class="footer__social-icon" />
    </a>
  </div>
</footer>
