---
import "../styles/social-buttons.css";
---
<div class="social-buttons">
  <a href="https://www.facebook.com/daliastudio.ro" target="_blank" class="social-button social-button--facebook">
    Facebook
  </a>
  <a href="https://www.instagram.com/daliastudio.ro" target="_blank" class="social-button social-button--instagram">
    Instagram
  </a>
  <a href="https://www.tiktok.com/@daru_nailartist" target="_blank" class="social-button social-button--tiktok">
    TikTok
  </a>
  <a href="https://wa.me/51999888777" target="_blank" class="social-button social-button--whatsapp">
    WhatsApp
  </a>
</div>
