---
import "../styles/testimonios.css";
---
<section class="testimonials">
  <h2 class="testimonials__title">Testimonios de Nuestros Clientes</h2>
  <div class="testimonials__grid">
    <div class="testimonial">
      <p class="testimonial__quote">"El servicio es increíble, las uñas me duraron mucho tiempo y el diseño quedó perfecto."</p>
      <p class="testimonial__author">- María López</p>
    </div>
    <div class="testimonial">
      <p class="testimonial__quote">"Las extensiones de pestañas quedaron hermosas, súper naturales y cómodas."</p>
      <p class="testimonial__author">- Karla Pérez</p>
    </div>
    <div class="testimonial">
        <p class="testimonial__quote">"Muy buen servicio del combo cejas, su depilación y pigmentación de buena calidad."</p>
        <p class="testimonial__author">- Rosmery Paredes</p>
      </div>
    <!-- Agregar más testimonios según sea necesario -->
  </div>
</section>
