---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dalia Studio</title>
  </head>
  <body>
    <div class="container">
      <Header />
    </div>
    <main class="container">
      <slot />
    </main>
    <div class="container">
      <Footer />
    </div>
  </body>
</html>
